<h1>Create a new band</h1>

<form class="" action=" <%= bands_url %> "method="post">
  <label for="band_name">Name</label>
  <input id="band_name" type="text" name="band[name]" value="<%= @band.name %>">

  <input type="submit">

</form>
